:root {
  --light: #fff;
  --black: #000;
  --darkblue: #14213d;
  --myyellow: #FF8C00;
  --grey: #e5e5e5;
}
* {
  margin: 0;
}

/* nav */
.navbar {
  background-color: var(--darkblue);
  font-size: 18px;
  font-weight: 600;
}
.navbar-brand,
.nav-link {
  color: var(--light) !important;
  margin: 0px 10px;
}
.nav-link:hover {
  color: var(--grey) !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("./assets/images/images.png") !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-weight: 700;
  font-size: larger;
}

/* home */
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.wallpapertip.com/wmimgs/156-1563935_puppy-dog-wallpaper-golden-retriever-facts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
}
.home__button {
  z-index: 99;
  opacity: 1;
  margin: -150px 0px;
  background-color: var(--darkblue) !important;
  border-color: var(--darkblue) !important;
  padding: 15px 25px !important;
  transition: 1s ease-in-out;
}
.home__button:hover {
  transform: scale(0.9);
}

@media (max-width: 780px) {
  .home {
    background-image: url("https://fsa.zobj.net/crop.php?r=Hw35t-eWdLYQKIlPfRKY0flJsL01XqYymEVrPRIMJxG35sJt_fmZJo5cORay3Bu-f9PxkcaGOjqd3ChG4QCnK1QojbU5V6_E9LudGltcRF6FFHcBWxP2zf2ZgdNmYQ8COy2EpauA0yvctrXC");
  }
}
